<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for CLRProfiler.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (x64)&quot; configuration in project &quot;C:\CLRProfiler\Sources\CLRProfiler\CLRProfiler.csproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>C:\Program Files (x86)\Microsoft Visual Studio 8\Team Tools\Static Analysis Tools\FxCop\\rules</Path>
  </RuleHintPaths>
</RuleSet>